.popular-products {
  margin-top: 150px;

  .popular-products__title {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    padding: 0px 25px;

    div {
      &:first-child {
        h2 {
          font-size: 30px;
          font-family: Montserrat;
          color: #374864;
          font-weight: 700;

          &:hover {
            cursor: default;
          }
        }
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 600;
          color: #3c6da6;
          border: 2px solid #3c6da6;
          border-radius: 6px;
          padding: 10px;
        }
      }
    }
  }
  .popular-products_line {
    .popular-products_block {
      border: 1px solid #e8e8e8;
      a {
        display: block;
        padding: 25px 15px;

        .popular-discount {
          display: flex;
          justify-content: space-between;

          span {
            &:first-child {
              font-family: "Open Sans";
              font-size: 14px;
              font-weight: 700;
              color: #2a3143;
            }
          }
        }

        .popular-img {
          margin: 50px 0px;

          img {
            margin: auto;
          }
        }

        .popular-category {
          span {
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            color: #4a5060;
            opacity: 0.5;
          }
        }

        .popular-name {
          margin: 15px 0px;
          span {
            font-family: "Open Sans";
            font-size: 16px;
            color: #2a2c31;
            font-weight: 600;
          }
        }

        .popular-rate {
          display: flex;
          justify-content: space-between;

          span {
            &:first-child {
            }

            &:last-child {
              font-family: "Open Sans";
              color: #afafaf;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }

        .popular-code {
          display: flex;
          justify-content: flex-end;
          margin: 10px 0px;

          span {
            font-family: "Open Sans";
            color: #afafaf;
            font-weight: 400;
            font-size: 12px;
          }
        }

        .popular-price {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.reasons {
  margin-top: 600px;

  .reasons__article {
    color: #374864;
    font-family: Montserrat;
    font-weight: 700;
  }

  .reasons__block-first {
    position: relative;

    &:first-child {
      img {
        &:first-child {
          position: absolute;
          z-index: -1;
          height: 265px;
          width: inherit;
        }
        &:nth-child(2) {
          position: absolute;
          z-index: -1;
          opacity: 0.1;
          left: 0;
          bottom: 0;
        }
      }
      .reasons__block-first-inside {
        padding-left: 50px;
        padding-top: 70px;

        div {
          color: $white;

          &:first-child {
            margin-bottom: 30px;

            span {
              font-family: Manrope;

              &:hover {
                cursor: default;
              }

              &:first-child {
                font-size: 90px;
              }

              &:last-child {
                font-size: 16px;
                font-weight: 700;
              }
            }
          }

          &:nth-child(2) {
            margin-bottom: 30px;

            span {
              font-family: Manrope;
              font-size: 16px;
              font-weight: 700;

              &:hover {
                cursor: default;
              }
            }
          }
          &:last-child {
            a {
              font-family: "Open Sans";
              color: $white;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .reasons__block {
    border: 1px solid #e8e8e8;

    div {
      text-align: center;
      display: flex;
      justify-content: center;

      &:first-child {
        margin-bottom: 40px;
        margin-top: 40px;
      }

      &:nth-child(2) {
        font-family: Manrope;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 25px;
      }

      &:last-child {
        font-family: Manrope;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}

.news__block {
  margin-top: 300px;

  .news__block-title {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e8e8e8;
    padding: 0px 25px;

    div {
      &:first-child {
        h2 {
          font-size: 30px;
          font-family: Montserrat;
          color: #374864;
          font-weight: 700;

          &:hover {
            cursor: default;
          }
        }
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 600;
          color: #3c6da6;
          border: 2px solid #3c6da6;
          border-radius: 6px;
          padding: 10px;
        }
      }
    }
  }
  .news__block-main {
    display: flex;

    .news__first {
      background-image: linear-gradient(180deg, #3b4d6e 0%, #2e2d30 100%);
      padding-top: 40px;

      h3 {
        font-size: 25px;
        font-family: Montserrat;
        color: $white;
        font-weight: 400;
        letter-spacing: 0.63px;
        max-width: 65%;
        margin: auto;
        text-align: center;
      }

      .news__links {
        display: flex;
        justify-content: center;
        margin: 30px 0px;

        a {
          color: $white;
          font-size: 20px;
          span {
            margin: 0px 10px;
            border: 1px solid $white;
            border-radius: 50%;
            padding: 5px;
          }
        }
      }
      .news__img {
        img {
          margin: auto;
        }
      }
    }

    .news__second {
      .news__second-blocks {
        display: block;
        height: 50%;
        padding: 25px 0px 0px 15px;

        .news-blue-link {
          font-family: "Open Sans";
          font-size: 12px;
          font-weight: 700;
          color: $white;
          background-color: #3c6da6;
          border-radius: 4px;
          padding: 5px;
        }

        h4 {
          font-size: 25px;
          font-family: Montserrat;
          font-weight: 700;
          letter-spacing: 0.63px;
          text-transform: uppercase;
          color: $white;
          margin: 50px 0px 70px;
        }

        &:first-child {
          background-image: url(/wp-content/themes/utg/images/background__news.png);
          background-repeat: no-repeat;
          background-position: center;

          .news-date {
            font-family: "Open Sans";
            font-size: 14px;
            color: $white;
          }
        }

        &:last-child {
          background-image: url(/wp-content/themes/utg/images/background__news.png);
          background-repeat: no-repeat;
          background-position: center;

          .news-date {
            font-family: "Open Sans";
            font-size: 14px;
            color: $white;
          }
        }
      }
    }

    .news__third {
      background-image: url(/wp-content/themes/utg/images/News-img-last.png);
      background-repeat: no-repeat;
      background-position: center;
      padding: 25px 0px 0px 15px;

      .news-blue-link {
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 700;
        color: $white;
        background-color: #3c6da6;
        border-radius: 4px;
        padding: 5px;
      }

      h4 {
        font-size: 25px;
        font-family: Montserrat;
        font-weight: 700;
        letter-spacing: 0.63px;
        text-transform: uppercase;
        color: $white;
        margin: 290px 0px 50px;
      }

      .news__third-text-block {
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        color: $white;
      }

      .news-date {
        font-family: "Open Sans";
        font-size: 14px;
        color: $white;
      }
    }
  }
}

.reviews-block {
  margin-top: 300px;

  .reviews-block__title {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;

    div {
      &:first-child {
        h2 {
          font-size: 30px;
          font-family: Montserrat;
          color: #374864;
          font-weight: 700;

          &:hover {
            cursor: default;
          }
        }
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 600;
          color: #3c6da6;
          border: 2px solid #3c6da6;
          border-radius: 6px;
          padding: 10px;
        }
      }
    }
  }
  .reviews-block-main {
    display: flex;
    border: 1px solid #e8e8e8;
    padding: 25px 15px;

    div {
      &:last-child {
        .last-without-border {
          border-right: none;
          padding-right: 0px;
        }
      }
    }

    .reviews-inside-block {
      border-right: 1px solid #e8e8e8;
      padding-right: 30px;

      div {
        &:first-child {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;

          span {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
          }
          div {
            display: flex;
            flex-direction: row;
          }
        }

        &:nth-child(2) {
          display: flex;
          justify-content: space-between;

          span {
            color: #a4a7af;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.35px;
          }
        }
      }
    }
  }
}

.seo-text__block {
  width: 70%;
  margin: 100px auto 100px;
  border: 1px solid #e8e8e8;
  padding-top: 70px;
  padding-bottom: 50px;

  .seo-text__left {
    img {
      margin-left: -80px;
    }

    div {
      display: flex;
      flex-direction: column;
      text-align: center;

      a {
        margin: 15px 0px 15px;

        &:first-child {
          margin-top: 40px;
        }

        span {
          color: #d6d8da;
          transition: 0.5s ease;
          font-size: 22px;

          &:hover {
            color: $black;
            transition: 0.5s ease;
          }
        }
      }
    }
  }

  .seo-text__right {
    h3 {
      font-family: Montserrat;
      font-size: 30px;
      color: #374864;
      font-weight: 700;
    }

    div {
      padding-right: 70px;

      p {
        font-family: "Open Sans";
        color: #343e48;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

.actions {
  margin-top: 800px;

  &_link {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.16);
    opacity: 0.9;
    transition: box-shadow 0.3s ease, opacity 0.3s ease;

    &:hover {
      box-shadow: 0 12px 25px rgba(119, 74, 74, 0.45);
      transition: box-shadow 0.3s ease, opacity 0.3s ease;
      opacity: 1;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
