.header{

  &-top{
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    
    a{
      color: #adb4c2;
    }
    
    &-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .call-back{
      display: flex;

      span{
        margin-right: 40px;
        color: #adb4c2;
      }

      &__link{
        color: #0070bb;
        border-bottom: 1px dashed #0070bb;
        cursor: pointer;
      }

      &:before{
        content: '\e903';
        font-family: 'icomoon';
        width: 16px;
        height: 16px;
        display: block;
        margin-right: 5px;
        color: #adb4c2;
      }
    }

    .page{

      &-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-link{
        padding: 10px 15px;
      }
    }

    .tel-phone{
      display: flex;
      align-items: center;
      margin: -5px 0;

      a{
        border-bottom: 1px dashed #adb4c2;
        padding: 5px 0;
      }

      &:before{
        content: '\e90a';
        font-family: 'icomoon';
        font-size: 18px;
        margin-right: 5px;
        color: #adb4c2;
      }
    }
  }

  &-bottom{
    background-color: $white;

    
  } 

  .menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}