.header {
  position: relative;
  z-index: 3;
  
  &-top {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    background-color: $white;

    a {
      color: #adb4c2;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .call-back {
      display: flex;

      span {
        margin-right: 40px;
        color: #adb4c2;
      }

      &__link {
        color: #0070bb;
        border-bottom: 1px dashed #0070bb;
        cursor: pointer;
      }

      &:before {
        content: "\e903";
        font-family: "icomoon";
        width: 16px;
        height: 16px;
        display: block;
        margin-right: 5px;
        color: #adb4c2;
      }
    }

    .page {
      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-link {
        padding: 10px 15px;
      }
    }

    .tel-phone {
      display: flex;
      align-items: center;
      margin: -5px 0;

      a {
        border-bottom: 1px dashed #adb4c2;
        padding: 5px 0;
      }

      &:before {
        content: "\e90a";
        font-family: "icomoon";
        font-size: 18px;
        margin-right: 5px;
        color: #adb4c2;
      }
    }
  }

  &-bottom {
    background-color: $white;
    padding: 10px 0;

    .flex_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-wishlist {
    font-weight: 600;
    display: flex;
    align-items: center;
    line-height: 0;

    &:before {
      content: "\e905";
      font-family: "icomoon";
      font-size: 23px;
      font-weight: 500;
      padding-right: 10px;
    }
  }

  &_lang {
    display: flex;
    align-items: center;

    li {
      position: relative;
      a {
        color: #adb4c2;
        padding: 10px;
      }

      &:after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: #c2cbd5;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &.current-lang {
        a {
          color: #0070bb;
        }
      }
    }
  }

  &_basket {
    cursor: pointer;
    position: relative;
    padding-left: 25px;

    span {
      display: block;
      color: #0070bb;
      font-weight: 400;
      padding-top: 5px;
    }

    &:before {
      content: "\e901";
      font-family: "icomoon";
      font-size: 25px;
      height: 25px;
      width: 25px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .menu {
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      li {
        position: relative;
        width: 100%;
        text-align: center;

        a {
          color: $white;
          padding: 18px;
          display: block;
          text-transform: uppercase;
          font-weight: 600;
        }

        &:after {
          content: "";
          width: 1px;
          height: 20px;
          background: rgba(255, 255, 255, 0.2);
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  &-menu {
    &__link {
      width: 310px;
      padding: 18px;
      color: $white;
      display: flex;
      cursor: pointer;
      align-items: center;
      transition: background 0.3s ease;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.16);
      font-weight: 600;

      &:hover {
        color: $white;
      }

      span {
        width: 20px;
        height: 2px;
        background-color: $white;
        display: block;
        position: relative;
        margin-right: 18px;

        &:before,
        &:after {
          content: "";
          width: 20px;
          height: 2px;
          background-color: $white;
          position: absolute;
          left: 0;
        }

        &:before {
          top: -7px;
        }

        &:after {
          bottom: -7px;
        }
      }
    }
  }

  .navigation {
    background: linear-gradient(182deg, #3c6da6 0%, #1e3753 100%);
    position: relative;

    &-container {
      display: flex;
      justify-content: space-between;

      .menu-general {
        display: none;
        position: absolute;
        z-index: 3;
        top: 100%;
        box-shadow: 0px 10px 45px 0px rgba(0, 0, 0, 0.4);
        max-width: 310px;
        width: 100%;
        border-radius: 0px 0px 15px 15px;
        padding-bottom: 10px;
        background-color: $white;

        .menu-item {
          padding: 10px;
          position: relative;

          &:first-child {
            .menu-item__name {
              color: #2aa55b;
            }
          }

          .menu-item__name {
            &::after {
              content: url(/wp-content/themes/utg/images/arrow-right.png);
              position: absolute;
              right: 8px;
              top: 10px;
            }
          }

          .sub-menu {
            li {
              a {
              }
            }
          }
          &:hover {
            background-color: #e5eff9;
            cursor: pointer;
          }
        }

        .menu-general__btn {
          margin: auto;
          display: block;
          text-align: center;
          width: 90%;
          border-radius: 7px;
          margin-top: 15px;
          background-color: #e5eff9;
          padding: 10px;

          &:hover {
            background-color: #84bade;
          }
        }
      }
    }
  }
}

.screen-reader-text {
  display: none;
}

.woocommerce-product {
  &-search {
    position: relative;
    width: 600px;
    display: flex;
    align-items: center;

    .search-field {
      width: 100%;
      background-color: #f8f9fc;
      padding: 15px 45px 15px 15px;
      opacity: 1;
      color: #3c6da6;
    }

    .search-button {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10px;
      cursor: pointer;

      &:after {
        content: "\e908";
        font-family: "icomoon";
        font-size: 20px;
        color: #3c6da6;
        font-weight: 600;
      }
    }
  }
}


.home .header .navigation-container .menu-general{
  display: block;
}

.active .header{
  position: relative;
  z-index: 3;

  .navigation-container .menu-general{
    display: block;
  }
}

.active{
  position: relative;

  &:after{
    content: '';
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .4;
  }
}

.breadcrumbs{
  padding: 15px 0;

  a{
    color: #82878f!important;
    font-family: "Open Sans";
  }
}