body{
  font: 14px/1 'Open Sans', sans-serif;
  font-weight: 400;
  color: #343e48;
  background-color: $body;
}

.title{
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: $black;
  transition: color 0.2s ease;
  outline: none!important;

  &:hover{
    transition: color 0.2s ease;
  }  

  &:active,
  &:focus,
  &:visited{
    color: initial;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  
  &_flexfix {
    display: flex;
  }
}

.header,
.footer {
	flex-shrink: 1;
	width: 100%;
}

.main {
	flex-grow: 1;
	width: 100%;
}

input {
  background: rgb(158, 156, 158);
  opacity: .5;
  border-radius: 5px;
  width: 175px;
  padding: 7.5px 8px;
  border: none;
  outline: none;

  &[type="submit"]{
    opacity: 1;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
  }


  &:visited,
  &:active,
  &:hover,
  &:focus {
    background: $white;
    opacity: 1;
  }
}